@import '../base/colors';


table.hashtopolis-table {
  .mat-mdc-header-cell {
    background-color: $primary-800;
    color: #fff;

    .mat-sort-header-arrow {
      color: #fff;
    }
  }

  .mat-mdc-row:hover {
    background-color: $primary-100;
  }

  .flex-container {
    display: flex;
    justify-content: flex-start;

    .mat-icon {
      margin-top: -3px;
    }
  }

}

div.table-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;

  .right-aligned {
    margin-left: auto;
  }
}