<mat-toolbar>
  <img [src]="this.headerConfig.brand.logo" [alt]="this.headerConfig.brand.name" [width]="this.headerConfig.brand.width"
    [height]="this.headerConfig.brand.height" alt="preview" />
  {{ this.headerConfig.brand.name }}
  <span class="menu-spacer"></span>
  <button mat-flat-button [matMenuTriggerFor]="agentsMenu">
    <mat-icon>dns</mat-icon>
    Agents
  </button>
  <mat-menu #agentsMenu="matMenu">
    <button mat-menu-item routerLink="agents/show-agents">Show Agents</button>
    <button mat-menu-item routerLink="agents/agent-status">Agent Status</button>
  </mat-menu>
  <button mat-flat-button [matMenuTriggerFor]="tasksMenu">
    <mat-icon>checklist</mat-icon>
    Tasks
  </button>
  <mat-menu #tasksMenu="matMenu">
    <button mat-menu-item routerLink="tasks/show-tasks">Show Tasks</button>
    <button mat-menu-item routerLink="tasks/preconfigured-tasks">Preconfigured Tasks</button>
    <button mat-menu-item routerLink="tasks/supertasks">Supertasks</button>
    <button mat-menu-item routerLink="tasks/import-supertasks/masks">Import Supertask</button>
    <button mat-menu-item routerLink="tasks/chunks">Chunk activity</button>
  </mat-menu>
  <button mat-flat-button [matMenuTriggerFor]="hashlistsMenu">
    <mat-icon>list</mat-icon>
    Hashlists
  </button>
  <mat-menu #hashlistsMenu="matMenu">
    <button mat-menu-item routerLink="hashlists/hashlist">Hashlists</button>
    <button mat-menu-item routerLink="hashlists/superhashlist">Superhashlists</button>
    <button mat-menu-item routerLink="hashlists/search-hash">Search Hash</button>
    <button mat-menu-item routerLink="hashlists/show-cracks">Show cracks</button>
  </mat-menu>
  <button mat-flat-button [matMenuTriggerFor]="filesMenu">
    <mat-icon>attachment</mat-icon>
    Files
  </button>
  <mat-menu #filesMenu="matMenu">
    <button mat-menu-item routerLink="files/wordlist">Wordlists</button>
    <button mat-menu-item routerLink="files/rules">Rules</button>
    <button mat-menu-item routerLink="files/other">Other</button>
  </mat-menu>
  <button mat-flat-button [matMenuTriggerFor]="binariesMenu">
    <mat-icon>code</mat-icon>
    Binaries
  </button>
  <mat-menu #binariesMenu="matMenu">
    <button mat-menu-item routerLink="config/engine/crackers">Crackers</button>
    <button mat-menu-item routerLink="config/engine/preprocessors">Preprocessors</button>
    <button mat-menu-item routerLink="config/engine/agent-binaries">Agent Binaries</button>
  </mat-menu>
  <button mat-flat-button [matMenuTriggerFor]="settingsMenu">
    <mat-icon>settings</mat-icon>
    Config
  </button>
  <mat-menu #settingsMenu="matMenu">
    <button mat-menu-item routerLink="config/agent">Settings</button>
    <button mat-menu-item routerLink="config/hashtypes">Hashtypes</button>
    <button mat-menu-item routerLink="config/health-checks">Health Checks</button>
    <button mat-menu-item routerLink="config/log">Log</button>
  </mat-menu>
  <button mat-flat-button [matMenuTriggerFor]="usersMenu">
    <mat-icon>group</mat-icon>
    Users
  </button>
  <mat-menu #usersMenu="matMenu">
    <button mat-menu-item routerLink="users/all-users">All users</button>
    <button mat-menu-item routerLink="users/global-permissions-groups">Global Permissions</button>
    <button mat-menu-item routerLink="users/access-groups">Access Groups</button>
  </mat-menu>
  <span class="menu-spacer"></span>
  <button mat-flat-button class="admin-menu-trigger" [matMenuTriggerFor]="adminMenu">
    Admin
  </button>
  <mat-menu #adminMenu="matMenu">
    <button mat-menu-item routerLink="account/acc-settings">Account Settings</button>
    <button mat-menu-item routerLink="account/ui-settings">UI Settings</button>
    <button mat-menu-item routerLink="account/notifications">Notifications</button>
    <button mat-menu-item
      routerLink="https://discord.com/channels/419123475538509844/419123475538509846">Support</button>
    <button mat-menu-item (click)="onLogOut()">Logout</button>
  </mat-menu>
</mat-toolbar>