<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
    <h2 class="h4">
      Agents Status
      <fa-icon placement="bottom"
        ngbTooltip="Click on the icons to display more information. You can display the information by individual agent or group by location/rack."
        container="body" [icon]="faInfoCircle" aria-hidden="true">
      </fa-icon>
    </h2>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group ms-2 ms-3">
      <cm-filter-textbox class="navbar-right" (changed)="filterChanged($event)">
      </cm-filter-textbox>
    </div>
  </div>
</div>

<div class="form-check form-switch">
  <input type="checkbox" id="rack-view" class="form-check-input" [(ngModel)]="rackView" (change)="toggleRackView()" />
  <label for="rack-view" class="agent-status-view-toggle-label">Group by location/rack</label>
</div>

<br>

<rack-view *ngIf="displayRackView()" [agents]="_filteresAgents" [agentStats]="agentStats" />
<agent-view *ngIf="displayAgentView()" [agents]="_filteresAgents" [agentStats]="agentStats" />

<!-- Agent Activity Table -->
<app-table>
  <app-page-subtitle [subtitle]="'Agents activity'"></app-page-subtitle>
  <table style="width: 100%" class="table table-striped table-hover table-sm" #agentstatus datatable
    [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="agentstatus">
    <thead class="thead-light">
      <tr>
        <th class="rounded-start">ID</th>
        <th>Status</th>
        <th>Name</th>
        <th>Agent Status</th>
        <th>Currently working on</th>
        <th>Assigned to</th>
        <th class="rounded-end">Last Activity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aa of _filteresAgents | sort:statusOrderBy:statusOrderByName">
        <td>{{ aa.agentId }}</td>
        <td>
          <app-active-spinner *ngIf="( aa.agentId | aspeed:true | async ) > 0"></app-active-spinner>
        </td>
        <td style="white-space: nowrap;">
          <a [routerLink]="['/agents/show-agents',aa.agentId,'edit']">{{ aa.agentName | shortenString:15 }}</a>
          <span *ngIf="aa.isTrusted === true"><fa-icon [icon]="faLock" aria-hidden="true"
              ngbTooltip='Trust agent with secret data'></fa-icon></span>
        </td>
        <td>
          <span *ngIf="aa.isActive === true"
            class="ui-label-inner inline-flex whitespace-nowrap items-center px-2 py-0.5 rounded-md text-xs font-medium text-white capitalize badge my-0"
            style="background-color: green;">
            Active
          </span>
          <span *ngIf="aa.isActive === false"
            class="ui-label-inner inline-flex whitespace-nowrap items-center px-2 py-0.5 rounded-md text-xs font-medium text-white capitalize badge my-0"
            style="background-color: rgba(255, 136, 0, 0.87);">
            Inactive
          </span>
        </td>
        <td>
          <div *ngIf="( aa.agentId | aspeed:true | async ) > 0">
            <div *ngIf="aa.taskId">Task:
              <a [routerLink]="['/tasks/show-tasks/',aa.taskId,'edit']">{{ aa.taskName | shortenString:15 }}</a>,
            </div>
            <div *ngIf="aa.speed">at {{ aa.speed | fileSize:false }} H/s,<br></div>
            <div *ngIf="aa.chunkId">working on chunk
              <a [routerLink]="['/tasks/chunks',aa.chunkId,'view']">{{ aa.chunkId }}</a>
            </div>
          </div>
        </td>
        <td>
          <a *ngIf="aa.taskId">
            <a [routerLink]="['/tasks/show-tasks/',aa.taskId,'edit']"> {{ aa.taskName | shortenString:15 }}</a>
          </a>
        </td>
        <td>
          Action: {{ aa.lastAct }}<br>
          Time: {{ aa.lastTime | uiDate }}<br>
          <div *ngIf="aa.lastIp">IP: {{ aa.lastIp }}</div>
        </td>
      </tr>
    </tbody>
  </table>
</app-table>
<!-- Todo Fix Pagination -->
<!-- <div class="align-items-right py-4">
  <cm-pagination
                [totalItems]="totalRecords"
                [pageSize]="pageSize"
                (pageChanged)="pageChanged($event)"
  >
  </cm-pagination>
</div> -->