/* ==================================
          SECTION BASE
   ================================== */
@import './colors';

a {
  color: $accent-800 !important;
}

.text-ok {
  color: $color-green !important;
}

.text-warning {
  color: $color-orange !important;
}

.text-critical {
  color: $warn-600 !important;
}

.text-inactive {
  color: $color-grey-light !important;
}

.text-unknown {
  color: $color-blue-light !important;
}

.text-invalid {
  color: $color-red !important;
}

.text-primary {
  color: $primary-600 !important;
}

.truncate {
  display: inline-block !important;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;

  h2 {
    margin: 0;
  }

  button {
    margin-left: auto;
  }
}

h2 {
  .mat-icon {
    position: relative;
    top: 4px;
  }
}