$color-white: #ffffff;
$color-grey-light: #cccccc;
$color-grey-border: #999999;
$color-grey: #666666;
$color-grey-metal: #4B5563;
$color-grey-dark: #444444;
$color-black: #111111;
$color-orange: #ff9900;
$color-orange-dark: #b36e06;
$color-green: #009933;
$color-green-dark: #1c6d37;
$color-red: #ff0000;
$color-red-dark: #800000;
$color-blue-light: #42d4f4;
$color-blue: #0b83b3;


.text-ok {
  color: $color-green;
}

.text-warning {
  color: $color-orange;
}

.text-critical {
  color: $color-red-dark;
}

.text-inactive {
  color: $color-grey-light;
}

.text-unknown {
  color: $color-blue-light;
}

.text-invalid {
  color: $color-red;
}